<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>收集表单数据</title>
    <script src="../js/vue.js"></script>
    <style>
        textarea{
            height: 120px;
        }
    </style>
</head>
<body>
    <form action="#" id="root" @submit.prevent="submit">
        <label for="account">账号：</label>
        <input id="account" type="text" name="account" v-model="student.account" placeholder="请输入账号"><br><br>
        <label for="password">密码：</label>
        <input id="password" type="text" name="password" v-model="student.password" placeholder="请输入密码"><br><br>
        性别：
            <label for="male">男</label>
            <input id="male" type="radio" name="gender" v-model="student.gender" value="male">
            <label for="female">女</label>
            <input id="female" type="radio" name="gender" v-model="student.gender" value="female"><br><br>
        爱好：
            <label for="smoke">抽烟</label>
            <input id="smoke" type="checkbox" name="gender" v-model="student.hobby" value="smoke">
            <label for="perm">烫头</label>
            <input id="perm" type="checkbox" name="gender" v-model="student.hobby" value="perm">
            <label for="drink">喝酒</label>
            <input id="drink" type="checkbox" name="gender" v-model="student.hobby" value="drink"><br><br>
        所属校区：
            <select name="place" v-model="student.place">
                <option value="">请选择校区</option>
                <option value="北京">北京</option>
                <option value="上海">上海</option>
                <option value="广州">广州</option>
                <option value="南京">南京</option>
            </select><br><br>
        其他信息：<textarea name="other" v-model="student.other"></textarea><br><br>
        <input id="agreement" type="checkbox" name="agreement" v-model="student.agreement">
        <label for="agreement">阅读并接受<a href="#">《用户协议》</a></label><br><br>
        <button>提交</button>

    </form>

    <script>
        new Vue({
            el:'#root',
            data:{
                student:{
                    account:'',
                    password:'',
                    gender:'',
                    hobby:[],
                    other:'',
                    place:'上海',
                    agreement:''
                }
            },
            methods: {
                submit(){
                    console.log(JSON.stringify(this.student));
                    
                }
            },
        })
    </script>
</body> 
</html>