<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03-姓名案例-计算属性</title>
    <script src="../js/vue.js"></script>

</head>

<body>
    <div id="root">
        姓：<input type="text" v-model="fistName"><br>
        名：<input type="text" v-model="lastName"><br>
        全名：<span>{{fullName}}</span>
    </div>

    <script>
        const vm=new Vue({
            el: '#root',
            data: {
                fistName: '张',
                lastName: '三'
            },
            methods: {

            },
            computed: {
                fullName: {
                    get() {
                        return this.fistName + '-' + this.lastName
                    },
                    set(value){
                        const arr=value.split('-')
                        console.log(arr);
                        
                        this.fistName = arr[0]
                        this.lastName = arr[1]
                    }
                }
            }
        })
    </script>
</body>

</html>