<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <ul>
            <h2>员工信息表</h2>
             <!-- 遍历数组 -->
            <li v-for="p in persons" :key="p.id">
                {{p.name}}-{{p.age}}
            </li>
            <h2>车辆信息</h2>
             <!-- 遍历对象 -->
            <li v-for="(value,k) in car" :key="k">
                {{k}}:{{value}}
            </li>
            <h2>遍历字符串</h2>
             <!-- 遍历字符串 -->
            <li v-for="(char,index) in str" :key="index">
                {{index}}-{{char}}
            </li>
            <h2>遍历指定次数</h2>
             <!-- 遍历指定次数 -->
            <li v-for="(number,index) in 5" :key="'00'+index">
                {{index}}-{{number}}
            </li>
        </ul>
        
    </div>

    <script>
        new Vue({
            el:'#root',
            data:{
                persons:[
                    {id:'01',name:'张三',age:18},
                    {id:'02',name:'李四',age:20},
                    {id:'03',name:'王五',age:22},
                ],
                car:{
                    name:'奥迪A6',
                    price:'60万',
                    color:'黑色'
                },
                str:'hello'
            },
        })
    </script>
</body>
</html>