<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>员工信息表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="p in filPersons" :key="p.id">
                {{p.name}}-{{p.age}}
            </li>
        </ul>
        
    </div>

    <script>
        new Vue({
            el:'#root',
            data:{
                keyWord:'',
                persons:[
                    {id:'01',name:'马冬梅',age:18},
                    {id:'02',name:'周冬雨',age:20},
                    {id:'03',name:'周星驰',age:22},
                    {id:'04',name:'周杰伦',age:22},
                    {id:'05',name:'王冬伦',age:22},
                ],
                // filPersons:[]
            },
            //通过computed实现筛选
            computed:{
                filPersons(){
                    return this.persons.filter(p=>{
                        return p.name.includes(this.keyWord) === true
                    })
                }
            }

            // #region 通过监视来筛选
            // watch:{
            //     keyWord:{
            //         immediate:true,
            //         handler(val){
            //             this.filPersons =this.persons.filter(p=>{
            //                 return p.name.includes(val) === true
            //             })
            //         }
            //     }
            // }
            // #endregion
        })

    </script>
</body>
</html>