<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表排序</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>员工信息表</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <button @click="sortType = 1">年龄升序</button>
        <button @click="sortType = 2">年龄降序</button>
        <button @click="sortType = 0">原顺序</button>
        <ul>
            <li v-for="p in filPersons" :key="p.id">
                {{p.name}}-{{p.age}}
            </li>
        </ul>

    </div>

    <script>
        new Vue({
            el: '#root',
            data: {
                keyWord: '', //0原顺序 1升序 2降序
                sortType: 0,
                persons: [
                    { id: '01', name: '马冬梅', age: 25 },
                    { id: '02', name: '周冬雨', age: 16 },
                    { id: '03', name: '周星驰', age: 30 },
                    { id: '04', name: '周杰伦', age: 20 },
                    { id: '05', name: '王冬伦', age: 22 },
                ],
            },
            computed: {
                filPersons(){
                    const arr = this.persons.filter(p => {
                        return p.name.includes(this.keyWord) === true
                    })

                    console.log(this.sortType);
                    
                    if (this.sortType) {
                        arr.sort((p1, p2) => {
                            return this.sortType === 1 ? p1.age - p2.age : p2.age - p1.age
                        })
                    }
                    return arr
                }
            },
            methods: {

            },
        })

    </script>
</body>

</html>